* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dadddf;
  box-sizing: border-box;
  padding: 17px 84px 19px 17px;
  width: 591px;
  height: 161px;
  display: flex;
}

.info {
  width: 178px;
  height: 18px;
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 15px;
  margin-top: 1px;
}

.logo {
  margin-right: 12px;
  width: 48px;
  height: 48px;
}

.container {
  height: 90px;
}

.verified {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.username {
  color: #536471;
  width: 44px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  margin-left: 6px;
}

.dot {
  background: #536471;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin-top: 5px;
  margin-left: 4px;
}

.date {
  color: #536471;
  width: 68px;
  height: 18px;
  font-weight: 400;
  font-size: 15px;
  margin-left: 4px;
}

.tweet-box {
  margin-top: 5px;
  display: flex;
  justify-content: left;
}

.tweet {
  width: 430px;
  font-weight: 400;
  font-size: 15px;
}

.join {
  margin-top: 21px;
}

.interaction {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
}

.commentary {
  width: 15px;
  height: 13.49px;
}

.retweet {
  margin-left: 70px;
  width: 15px;
  height: 15px;
}

.favorite {
  margin-left: 70px;
}

.share {
  margin-left: 70px;
  width: 13px;
  height: 14.44px;
  width: 15px;
  height: 13.08px;
}

.number {
  color: #536471;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  margin-left: 19px;
}
